div,input,textarea{
    box-sizing: border-box;
}

.black-bg{
    background-color: black;
    padding : 30px;
}
.white-bg{
    background-color: white;
    padding : 30px;
    max-width: 600px;
    margin: auto;
}
.form-input{
    padding : 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
}
.w-100{
    padding: 10px;
}
.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}
.btn{
    padding: 10px;
    float: right;
    background-color: orange;
    border-radius: 5px;
    border-style: none;
    color: white;
}