@font-face{
    font-family : '이쁜폰트';
    src : url(../font/NanumSquareR.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap');

div, input, textarea {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'gulim';
}

p,h4,h3,h2,h1,span{
    transform: rotate(0.03deg)
}

.form-background {
    background-color: black;
    padding: 30px;
}
.form-white {
    background-color: white;
    padding: 30px;
    width:80%;
    max-width:600px;
    margin: auto;
}
.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.w-100 {
    width: 100%;
    padding: 10px;
}
.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}
.yellow-button{
    padding: 10px;
    float: right;
    background-color: orange;
    border-radius: 5px;
    border-style: none;
    color: white;
}