div {
  box-sizing: border-box;
}
i {
  font-size: 30px;
  color: rgb(66, 74, 189);
}
body {
  margin: 0px;
}
.container-all {
  max-width: 1920px;
  margin: 0 auto;
}
.container-upper {
  background-color: black;
}

/* 상단 */
.container-upper-upper {
  display: flex;
  background: linear-gradient(
    rgb(86, 188, 255),
    rgb(112, 165, 245),
    rgb(142, 140, 255)
  );
  height: 70vh;
  color: white;
}
.container-upper-upper-left {
  width: 50%;
  padding: 5%;
}
.container-upper-upper-right {
  position: relative;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.container-upper-upper-right img {
  width: 50%;
  position: absolute;
  margin-top: 80px;
  object-fit: scale-down;
}
.container-upper-center {
  background-color: white;
  height: 200px;
  padding: 20px;
  text-align: center;
}
.container-upper-lowerTop {
  text-align: center;
  color: white;
  background-color: rgb(66, 74, 189);
  padding: 10px;
  padding-top: 50px;
}
.container-upper-lowerBottom {
  display: flex;
  background-color: rgb(66, 74, 189);
  height: 280px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}
.container-upper-lower-content {
  margin: 30px;
}
.container-upper-lower-content i {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 35px;
  box-sizing: border-box;
  color: rgb(66, 74, 189);
}

/* 하단 */
.container-lower {
  background-color: white;
  text-align: center;
}
.container-lower-title {
  padding: 50px;
}
.container-lower-photoZone {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.container-lower-photo {
  width: 40vw;
  height: 40vh;
  overflow: hidden;
  background-position: center;
  float: left;
  overflow: hidden;
}
.container-lower-photo-imgContainer,
.container-lower-photo-imgContainer img {
  float: left;
  overflow: hidden;
  width: 600px;
}
.container-lower-photo-imgContainer:hover {
  border: 20px solid white;
  transition: all 0.5s;
}
.container-lower-photo-imgContainer:hover img {
  margin: -20px;
  transition: all 0.5s;
}
.img1 {
  background: url("../img/portfolio-1.jpg");
  background-size: 100% 120%;
}
.img2 {
  background: url("../img/portfolio-2.jpg");
  background-size: 100% 120%;
}
.img3 {
  background: url("../img/portfolio-3.jpg");
  background-size: 100% 120%;
}
.img4 {
  background: url("../img/portfolio-4.jpg");
  background-size: 100% 120%;
}

.contaier-lower-bottom {
  height: 300px;
  padding: 100px;
}
.contaier-lower-bottom i {
  background-color: rgb(66, 74, 189);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-sizing: border-box;
  padding-top: 10px;
  color: white;
  margin: 15px;
}

/* 버튼 */
.grey-btn {
  background-color: rgb(83, 83, 83);
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  transition-duration: 0.3s;
}
.grey-btn:hover {
  box-shadow: 3px 3px 3px black;
}
.grey-btn:active {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}

@media screen and (max-width: 1200px) {
  .container-upper-upper-right img {
    width: 40%;
    position: absolute;
    margin-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .container-upper-upper {
    flex-direction: column;
    height: 100vh;
  }
  .container-upper-upper-left {
    width: 100%;
    padding: 5%;
    text-align: center;
  }
  .container-upper-upper-right {
    width: 100%;
    height: 100%;
  }
  .container-upper-upper-right img {
    width: 100%;
    height: 100%;
    margin-top: 1px;
  }
}
