body{
    background-color: #f7f9fc;
}

.flex-container{
    display: flex;
}
.flex-item {
    margin: 5px;
}

.card img{
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
