body{
    background-color: #f7f9fc;
}

.flex-container{
    display: flex;
}
.flex-item {
    margin: 5px;
}

.card img{
    width:  30%;
    height: 30%;
    border-radius: 50%;
    margin: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.btn{
    background-color: #6fbaf8;
    color: white;
}